@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&family=Space+Grotesk:wght@300;400&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Style assets */

:root {
    --main-color: '#ffa500';
}
/* Navbar stuff */

@media only screen and (min-width: 768px) {
    .logo-text {
        display: flex;
        align-items: center;
    }
}
@media only screen and (max-width: 767px) {
    .logo-text {
        display: none;
    }
}

.navbar-logo-area {
    box-shadow: none;
    text-transform: uppercase;
    font-family: Saira Stencil One;
    font-weight: 400;
    display: flex;
    flex-direction: row;
}

.navbar-link-area {
    box-shadow: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-links-div {
    box-shadow: none;
    display: flex;
    align-items: center;
}

.navbar-logo {
    margin-right: 10px;
    display: flex;
    text-transform: uppercase;
    font-family: Saira Stencil One;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    margin-left: 5;
    color: white;
}

.navbarstyle {
    background-color: white;
    backdrop-filter: blur(2px);
    box-shadow: 0px 2px 8px 0px rgba(255, 255, 255, 0);
    justify-content: space-between;
}

.navlink {
    text-decoration: none;
    text-transform: uppercase;
    background-color: #ffa500;
    color: #191919;
    font-size: 14px;
    box-shadow: none;
    padding: 8px;
    border-radius: 50px;
    margin-left: 5px;
    transition: 0.4s ease-in-out;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.navlink:hover {
    background: #ffe4b3;
    box-shadow: none;
    transition: 0.4s ease-in-out;
    color: #191919;
}
